/* GLOBALES */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
}

/* HEADER */
header {
    background-color: #C61B0D;
    left: 0;
    margin: 0;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.logo-titulo figure img {
    height: 40px;
    width: 40px;
    filter: drop-shadow(3px 3px 3px);
}

.logo-titulo h1 {
    margin-left: 5px;
    color: #FFF;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    padding-left: 30px;
    cursor: pointer;
    color: #FFF;
    font-size: 17px;
    font-weight: 500;
}

.visitado {
    text-decoration: underline #FFF;
}

nav ul li a:hover {
    text-decoration: underline;
}

.contenedor-items {
    padding-right: 20px;
}

.contenedor-items .loguearse {
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.contenedor-items .loguearse i {
    color: #C61B0D;
    background-color: transparent;
    padding: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.contenedor-items .loguearse:hover i {
    color: #FFF;
}

.contenedor-items .loguearse span {
    font-weight: 600;
    font-size: 14px;
}

.contenedor-items .loguearse:hover {
    background-color: #000;
    color: #FFF;
}

.contenedor-items .items {
    display: none;
}

.contenedor-items .items i {
    cursor: pointer;
    margin: 0 10px;
    background-color: transparent;
    border-radius: 50%;
    padding: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
}

.contenedor-items .items i:hover {
    color: #C61B0D;
    background-color: #FFF;
}

nav ul a, .contenedor-items .items a {
    text-decoration: none;
}

.boton-menu {
    background-color: transparent;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: none;
    flex-direction: column;
    position: fixed;
    right: 20px;
    z-index: 2;
}

.boton-menu i {
    font-size: 21px;
}

/* MAIN */
main {
    margin-top: 80px;
}

/* INICIO */


/* MENU */
.contenedor-categorias {
    margin-top: 100px;
}

.contenedor-categorias h2 {
    margin-left: 70px;
    margin-bottom: 30px;
}

.contenedor-categorias .contenedor-cards {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.contenedor-categorias .contenedor-cards2 {
    margin-top: 80px;
}

.contenedor-categorias .contenedor-cards .card:hover {
    transform: scale(1.05);
}

.contenedor-categorias .contenedor-cards .card .opcion {
    width: 160px;
    height: 160px;
    border-radius: 5px;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    text-decoration: none;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-categorias .contenedor-cards .card figure img {
    width: 140px;
    border-radius: 5px;
    perspective: 1000px;
    aspect-ratio: 1/1;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.contenedor-categorias .contenedor-cards .card span {
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    padding: 3px;
    border-radius: 0 0 5px 5px;
    top: 100%;
    background-color: #C61B0D;
    width: 100%;
    text-align: center;
}

.contenedor-categorias .contenedor-ordenar {
    display: flex;
    justify-content: space-between;
    margin: 120px 80px;
}

.contenedor-categorias .contenedor-ordenar .info {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.contenedor-categorias .contenedor-ordenar figure img {
    width: 200px;
    height: 200px;
}

.contenedor-categorias .contenedor-ordenar .enlaces {
    display: flex;
    flex-direction: column;
}

.contenedor-categorias .contenedor-ordenar .enlaces a {
    background-color: #000;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 600;
    transition: transform 0.3s ease;
}

.contenedor-categorias .contenedor-ordenar .enlaces a:hover {
    color: #FFF;
    background-color: #C61B0D;
    transform: scale(1.05);
}

/* MENU OPCION */
.contenedor-menu-opcion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 40px;
}

.contenedor-menu-opcion .info-opcion {
    width: 55%;
}

.contenedor-menu-opcion .info-opcion .titulo-info {
    font-size: 36px;
    display: flex;
    font-weight: 1000;
}

.contenedor-menu-opcion .info-opcion .contenido-info {
    font-size: 20px;
    margin-top: 30px;
}

.contenedor-menu-opcion .info-opcion .enlaces-opcion {
    margin-top: 50px;
}

.contenedor-menu-opcion .info-opcion .enlace-opcion {
    background-color: #C61B0D;
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    border-radius: 3px;
    font-weight: 600;
    margin: 0 20px 0 0;
}

.contenedor-menu-opcion .info-opcion .enlace-opcion i {
    margin: 0 5px;
}

.contenedor-menu-opcion .info-opcion .enlace-opcion:hover {
    background-color: #000;
    color: #FFF;
}

.contenedor-menu-opcion .icono-opcion figure img {
    width: 350px;
    height: 350px;
}

.contenedor-menu-opcion .sub-opciones {
    display: flex;
    margin-top: 100px;
    position: relative;
    transition: transform 0.3s ease;
}

.contenedor-menu-opcion .sub-opciones .indicador {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #000;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
    position: absolute;
    top: calc(0% - 20px);
    left: calc(50% - 15px);
}

.contenedor-menu-opcion .sub-opciones .indicador::before {
    content: "";
    border: 2px solid;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: -44px;
    background-color:transparent;
    border-radius: 3px;
    width: 82px;
    height: 82px;
}

.contenedor-menu-opcion .sub-opciones .card-opcion {
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    margin: 0 20px 0 0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    perspective: 500px;
    cursor: pointer;
}

.contenedor-menu-opcion .sub-opciones .card-opcion:hover {
    transform: scale(1.05);
}

.contenedor-menu-opcion .sub-opciones .card-opcion:hover::before {
    content: "Ordenar";
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 700;
    border-radius: 3px;
}

.contenedor-menu-opcion .info-opcion .anterior, .contenedor-menu-opcion .info-opcion .siguiente {
    background-color: #C61B0D;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.contenedor-menu-opcion .info-opcion .anterior {
    left: -30px;
}

.contenedor-menu-opcion .info-opcion .siguiente {
    right: -10px;
}

.contenedor-menu-opcion .info-opcion .anterior:hover, .contenedor-menu-opcion .info-opcion .siguiente:hover {
    color: #FFF;
    background-color: #000;
}

/* PEDIDOS */
.contenedor-pedidos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-pedidos .contenedor-pedido {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    background-color: #999;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.contenedor-pedidos .contenedor-pedido .cancelar {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    font-weight: 600;
    background-color: #C61B0D;
    border-radius: 5px 5px 0 5px;
    cursor: pointer;
    font-size: 14px;
    color: #FFF;
}

.contenedor-pedidos .contenedor-pedido .cancelar:hover {
    text-decoration: underline;
}

.contenedor-pedidos .contenedor-pedido .contenedor-orden {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedor-pedidos .contenedor-pedido .contenedor-orden .orden {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-pedidos .contenedor-pedido .contenedor-orden .orden figure img {
    width: 50px;
    height: 50px;
}

.contenedor-pedidos .contenedor-pedido .contenedor-orden .orden span {
    font-weight: 700;
    margin-top: 5px;
}

.contenedor-pedidos .contenedor-seguimiento {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 600px;
}

.contenedor-pedidos .contenedor-seguimiento::before {
    content: "";
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: 1;
}

.contenedor-pedidos .contenedor-seguimiento .progreso {
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0;
    z-index: -1;
    transition: 0.4s ease;
}

.contenedor-pedidos .contenedor-seguimiento .circulo {
    background-color: #FFF;
    color: #999;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #C61B0D;
    transition: 0.4s ease;
    z-index: 2;
    position: relative;
}

.contenedor-pedidos .contenedor-seguimiento .circulo::before {
    content: "";
    position: absolute;
    background-color: #000;
    left: 50%;
    width: 2px;
    height: 20px;
    top: 100%;
}

.contenedor-pedidos .contenedor-seguimiento .circulo.activo {
    background-color: #000;
}

.contenedor-pedidos .contenedor-seguimiento .circulo img {
    width: 20px;
    height: 20px;
}

.contenedor-pedidos .contenedor-seguimiento .circulo span {
    position: absolute;
    top: calc(100% + 20px);
    color: #000;
    font-weight: 500;
}

/* FOOTER */
footer {
    background-color: #000;
    border-top: 2px solid #C61B0D;
    position: relative;
    width: 100%;
}

.contenedor-footer-arriba {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 20px;
    border-bottom: 2px solid #C61B0D;
}

.contenedor-footer-arriba .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-footer-arriba h3 {
    color: #FFF;
    font-size: 22px;
    margin-left: 5px;
}

.contenedor-footer-arriba figure img {
    width: 40px;
    height: 40px;
}

.contenedor-footer-arriba .redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-footer-arriba .redes .iconoredes {
    margin: 0 10px;
    border-radius: 50%;
    text-align: center;
}

.contenedor-footer-arriba .redes .iconoredes a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 40px;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(1) {
    background-color: #1877F2;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(2) {
    background-color: #25D366;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(3) {
    background-color: #C13584;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(4) {
    background-color: #1DA1F2;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(1):hover {
    background-color: #FFF;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(2):hover {
    background-color: #FFF;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(3):hover {
    background-color: #FFF;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(4):hover {
    background-color: #FFF;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(1):hover i {
    color: #1877F2;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(2):hover i {
    color: #25D366;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(3):hover i {
    color: #C13584;
}

.contenedor-footer-arriba .redes .iconoredes:nth-child(4):hover i {
    color: #1DA1F2;
}

.contenedor-footer-arriba .redes .iconoredes a i {
    font-size: 24px;
    color: #FFF;
}

.contenedor-footer-abajo {
    text-align: center;
    padding: 10px;
}

.contenedor-footer-abajo span {
    color: #FFF;
}

/* CSS RESPONSIVE HEADER */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }
    
    .boton-menu {
        display: block;
    }

    nav ul {
        background-color: #C61B0D;
        display: none;
        flex-direction: column;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 2;
    }

    .contenedor-items {
        position: absolute;
        right: 4%;
        top: 27%;
        display: none;
    }

    .contenedor-items .items i {
        margin: 0 5px;
        background-color: none;
        border-radius: 0;
        padding: 7px;
        box-shadow: none;
        font-size: 19px;        
    }

    nav ul.active, .contenedor-items.active {
        display: flex;
    }

    li {
        margin: 10px;
    }

    .contenedor-items .loguearse {
        padding: 5px;
        margin-top: 2px;
    }
    
    .contenedor-items .loguearse i {
        padding: 3px;
        font-size: 15px;
    }
    
    .contenedor-items .loguearse span {
        font-size: 14px;
    }
}