* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #C61B0D;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    position: relative;
}

.contenedor-login .registro {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #C61B0D;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 0 10px 0 0;
    padding: 5px;
}

.contenedor-login .registro a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.contenedor-login .registro a:hover {
    text-decoration: underline;
}

.logo-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-titulo figure img {
    width: 100px;
    height: 100px;
}

form {
    margin-top: 10px;
}

form .control {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
}

form .control label {
    font-size: 16px;
    font-weight: 600;
}

form .control input {
    width: 260px;
    height: 28px;
    background-color: #C61B0D;
    border: 1px solid #fff;
    color: #FFF;
    border-radius: 5px;
    padding-left: 5px;
}

form .control input:focus {
    outline: none;
}

form .control span {
    font-size: 14px;
    font-weight: 500;
    margin-left: 3px;
}

form .control span a {
    text-decoration: none;
    color: #000;
}

form .control span a:hover {
    text-decoration: underline;
}

form .control .mostrar-ocultar {
    position: absolute;
    right: 5px;
    top: 24px;
    color: #FFF;
}

form .boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

form .boton button {
    width: 120px;
    height: 30px;
    font-weight: 700;
    font-size: 16px;
    background-color: #000;
    color: #FFF;
    border-radius: 5px;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

form .boton button:hover {
    transform: scale(0.95);
    background-color: #C61B0D;
}

.registro-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 20px;
}

.registro-sociales span {
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.registro-sociales .linea-izquierda, .registro-sociales .linea-derecha {
    border-top: 1px solid #000;
    width: 100%;
}

.enlaces-registro {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.enlaces-registro .enlace-google, .enlaces-registro .enlace-facebook {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 12px;
    transition: transform 0.3s ease;
}

.enlaces-registro .enlace-google i {
    color: #EA4335;
    font-size: 20px;
}

.enlaces-registro .enlace-facebook i {
    color: #1778F2;
    font-size: 20px;
}

.enlaces-registro .enlace-google:hover {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    transform: scale(1.1);
}

.enlaces-registro .enlace-facebook:hover {
    background-color: #1778F2;
    transform: scale(1.1);
}

.enlaces-registro .enlace-google:hover i, .enlaces-registro .enlace-facebook:hover i {
    color: #FFF;
}