* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #C61B0D;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    position: relative;
}

form {
    margin-top: 10px;
}

form .nomape {
    display: flex;
}

form .nomape .control input {
    width: 150px;
}

form .control {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
}

form .control label {
    font-size: 16px;
    font-weight: 600;
}

form .control input {
    width: 300px;
    height: 28px;
    background-color: #C61B0D;
    border: 1px solid #fff;
    color: #FFF;
    border-radius: 5px;
    padding-left: 5px;
}

form .control .indicaciones-direccion {
    position: relative;
    display: flex;
    gap: 5px;
}

form .control .indicaciones-direccion .indicaciones {
    cursor: pointer;
}

form .control .indicaciones-direccion .indicaciones::after {
    content: attr(data-tooltip);
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    width: 200px;
    z-index: 2;
}

form .control .indicaciones-direccion .indicaciones:hover::after {
    opacity: 1;
}

form .control input:focus {
    outline: none;
}

form .control .mostrar-ocultar {
    position: absolute;
    right: 5px;
    top: 24px;
    color: #FFF;
}

form .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

form .botones a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

form .botones button, form .botones .enlace-regresar {
    width: 130px;
    height: 30px;
    font-weight: 700;
    font-size: 16px;
    background-color: #000;
    color: #FFF;
    border-radius: 5px;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

form .botones button:hover, form .botones a:hover {
    transform: scale(0.95);
    background-color: #C61B0D;
}

/* NOTIFICACION */
.contenedor-notificacion {
    max-height: 400px;
    position: absolute;
    opacity: 0;
    right: 10px;
    top: 0;
}

.contenedor-notificacion.mostrar {
    animation: mostrar 4s ease;
    transition: all 0.5s ease;
}

@keyframes mostrar {
    0%, 50%, 100% {
        max-height: 0;
        opacity: 0;
    }

    10%, 25% {
        max-height: 250px;
        opacity: 1;
    }
}

.notificacion {
    background-color: #FFF;
    border-radius: 5px;
    color: #F5F5F5;
    font-weight: 300;
    margin: 15px 0;
    max-width: 250px;
    opacity: 1;
    padding: 15px 20px 15px 45px;
    position: relative;
    text-align: left;
    transition: all 1s ease;
}

.notificacion::before {
    background: #03A65A;
    border-radius: 15px;
    content: "";
    height: calc(100% - 20px);
    left: 10px;
    position: absolute;
    top: 10px;
    width: 7px;
    z-index: 0;
}

.notificacion.error::before {
    background: #C24914;
}

.notificacion h3 {
    color: #03A65A;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
    position: relative;
}

.notificacion p {
    color: #555;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin: 10px 0 0;
    position: relative;
    z-index: 1;
}

.notificacion .cerrar {
    border-radius: 100%;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 20px;
}

.notificacion .cerrar::after {
    align-items: center;
    border-radius: 100%;
    color: #595959;
    content: "+";
    display: flex;
    font-size: 30px;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-indent: 1px;
    transform: rotate(-45deg);
    width: 100%;
}

.notificacion .cerrar:hover::after {
    background-color: #03A65A;
    color: #FFF;
}